/* Navbar and header*/
.navbar-custom { 
    background-color: #356059 !important;
    color:#ffffff !important;
}

.navbar-brand-custom {
    color:#ffffff !important;
}

.cart-button-custom {
    background-color: 2px solid #356059;
    border: 2px solid hsl(109, 47%, 88%) !important; /* Initial border color */
    color: #D8EFD3 !important; /* Initial text color */
    border-color: #D8EFD3 !important; /* Change this to your desired hover border color */
}

.cart-button-custom:hover {
    /*color: #356059 !important; /* Optional: Change text color on hover */
    /*background-color: #D8EFD3 !important; /* Optional: Change background color on hover */
    border-color: #ffd60a !important; /* Change this to your desired hover border color */

}

.navbar-custom-icon {
    background-color: #356059;
}

.navbar-custom-icon:hover {
    background-color: #D8EFD3 !important;
    color: #356059 !important;
}
/*.navbar-div-custom {

}*/
/*.navbar-container-custom {
    color:#ffffff !important;
    background-color: #356059 !important;
}*/

.navbar-item-custom {
    color:#356059 !important;
    /*background-color: #356059 !important;*/
}
.header-custom {
    background-color: #D8EFD3 !important;
    font-family: "Dosis", sans-serif !important;
   /* height: 275px; /* Ensure height is auto to respect padding */
    /*min-height: 50px; /* Set a minimum height */
}

.h1-custom {
    color: #356059 !important;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
}

.h2-custom {
    color: #356059 !important;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
}
.p-custom {
    color: #356059 !important;
}


/* Footer */
.footer-custom {
    background-color: #D8EFD3 !important;
    color: #356059 !important;
}

.p-div-custom {
    color: #356059 !important;
}
