.header-custom {
    background-color: #D8EFD3 !important;
}

.h1-custom {
    color: #356059 !important;
    font-family: "Playwrite NZ", cursive !important;
}

.p-custom {
    color: #356059 !important;
}

.footer-custom {
    background-color: #D8EFD3 !important;
}