{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5 header-custom ">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder h1-custom">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0 p-custom ">and our love for cupcakes</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row div-text-custom">
                <center>
                    <div class="col-8">
                        <br><br/>
                        <p align="justify text-custom">
                            Hello Dear You, 
                        </p>
                        <p align="justify text-custom">
                            Thank you for stopping by! 
                            We are a family-owned business in Stockholm with a passion for plant-based cupcakes. 
                            Everyone is welcome in our shop, that is why you will find plenty of allergy-friendly options in our catalog, including gluten-free, nut-free and soy-free alternatives.              
                         </p>
                         <p align="justify text-custom">
                            Besides our amazing cupcakes in the website catalog, there are endless possibilites, which is why we take custom orders.
                        <p align="justify text-custom">   
                            Are you going to celebrate a birthday party? A wedding? A Tuesday?
                            Or you just want to make your wildest cupcake fantasy come true? We are here for you.
                        </p>
                         </p>
                        <p align="justify text-custom">
                            Wanna say hello, or make a custom order? Please drop us a line in the <a href="{% url 'contact' %}" class="page-link-custom">contact form</a>.
                        </p>
                        <p align="justify text-custom">
    
                            We look forward to hearing from you! 
                            Love and Cupcakes,
                        </p>
                        <p align="justify text-custom">

                            The Finest Cupcake Shop Team
                        </p>
                    <br><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}