{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5 header-custom ">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder h1-custom">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">and our love for cupcakes</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br/>
                        <p align="justify">
                            Welcome to The Finest Cupcake Shop, where every bite is a celebration of flavor and inclusivity! As a family-owned business deeply passionate about crafting delectable treats, we pour our hearts into every cupcake we create. Our journey began with a simple yet profound belief: that food should not only delight the taste buds but also nourish the soul. Inspired by our love for nature and animals, we've embraced a plant-based approach that allows us to infuse each cupcake with wholesome ingredients and vibrant flavors.
                        </p>
                        <p align="justify">

                            At The Finest Cupcake Shop, we understand the diverse dietary needs of our community. That's why we've made it our mission to provide a welcoming space for everyone to indulge in delicious treats without judgment or restriction. From gluten-free to nut-free options, we've curated a menu that caters to a variety of dietary preferences, ensuring that everyone can find something they love. Whether you're vegan, gluten-intolerant, or simply seeking a healthier treat, you'll find a delightful array of cupcakes to satisfy your cravings.
                        </p>
                        <p align="justify">

                            Beyond simply baking cupcakes, we're in the business of spreading joy through food. With every batch we bake, we aim to create moments of happiness and connection for our customers. Whether you're celebrating a special occasion or simply treating yourself to a sweet indulgence, The Finest Cupcake Shop cupcakes are sure to bring a smile to your face. So come join us on this delicious journey, and experience the magic of our plant-based cupcakes firsthand. Have questions or craving a custom creation? Don't hesitate to reach out – we're always here to help make your cupcake dreams come true!
                        </p>
                    <br><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}
