{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">and our love for cupcakes</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br/>
                        <p align="justify">
                            Welcome to The Finest Cupcake Shop, your sweet haven for indulgence We specialize in crafting exquisite cupcakes that blend traditional flavors with innovative twists, ensuring every bite is a delightful surprise. Our bakers use only the freshest ingredients to bring you cakes that are moist, flavorful, and beautifully decorated. Whether you're celebrating a special occasion or simply treating yourself, our selection of classic and unique flavors caters to every taste. Join us for a cupcake experience that's as memorable as it is delicious!
                        </p>
                    <br><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}
