{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5 header-custom">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder h1-custom">The Finest Cupcake Shop</h1>
            <br/>
            <p class="lead fw-normal text-white-50 mb-0 p-custom">Made with love</p>
        </div>
    </div>
</header>

<!-- Section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image -->
                    <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                    <!-- Product details -->
                    <div class="card-body p-4">
                        <div class="text-center div-text-custom">
                            <!-- Product name -->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!-- Product price -->
                            $ {{ product.price }}
                            <br/>
                            {{ product.description }}
                            <br/>
                            {% for category in product.category.all %}
                            {{ category.name }}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent div-text-custom">
                        <div class="text-center div-text-custom"><a class="btn btn-outline-dark mt-auto custom-button" href="{% url 'product' product.id %}">View product</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <!-- Pagination controls -->
        <div class="row">
            <div class="col div-text-custom">
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
                        <li class="page-item custom-button">
                            <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    
                        {% for num in products.paginator.page_range %}
                            <li class="page-item {% if products.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                    
                        {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    
                </nav>
            </div>
        </div>
    </div>
 <!-- Custom CSS -->
 <link href="{% static 'css/custom_finest_cupcakes.css' %}" rel="stylesheet">
</section>

{% endblock %}
