{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="container">
        <br/>
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <center>
                <br/>
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text">{{ product.price }}
                  <br><br/>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                    <option value="3">7</option>
                    <option value="3">8</option>
                    <option value="3">9</option>
                    <option value="3">10</option>
                    <option value="3">for +10 contact us for a custom order</option>
                  </select>
                  <br><br/>
                  </p>
                  <p class="card-text">
                    {% if product.categories.exists %}
                    {% for category in product.categories.all %}
                        {{ category.name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                  </p>
                  <br><br/>
                <a href ="{% url 'home' %}" class ="btn btn-secondary">Home</a>
                <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
                </center>
                </div>
                
                  </div>
                </div>
              </div>
        </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<script>
//Check if button is clicked
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'cart_add' %}",
        data: {
          product_id: $('#add-cart').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post'
        },

        success: function(json){
          //console.log(json)
          documemt.getElementById("cart_quantity").textContent = json.qty
        },

        error: function(xhr, errormsg, err){

        }

    });
})

</script>

{% endblock %}