{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5 header-custom header-custom">
            <div class="container px-4 px-lg-5 my-5 div-text-custom">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder h1-custom">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0 p-custom">Review Your Order</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            <div class="row">
                
                    <div class="col-md-6 offset-md-3">
          <div class="card">
          <div class="card-header">
            Order Summary
          </div>
          <div class="card-body div-text-custom">
            {% for product in cart_products %}
            {{ product.name }}: 
            ${{ product.price }}
                <br/>
                <small>Quantity: 
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            Total:  ${{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary custom-button">Update Items</a>
          </div>
        </div>
<br/><br/>
<div class="card">
  <div class="card-header div-text-custom">
    Shipping Info
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'billing_info' %}">
        {% csrf_token %}
    {{ shipping_form.as_p }}

  </div>
</div>
<br/>

<button type="submit" class="btn btn-secondary custom-button">
        Continue To Billing
</button>

</form>
<br/><br/>


</div>
</div>
</div>




{% endblock %}
